
<div><h2 id="title"></h2>
    <h3 id='whyChange' onclick="displayAdminUpdate()" class="showfocus">Why All The Changes?</h3>
    <div class="showfocus scrollingPaneLeft">
        <h3 id="npm"></h3>
        <table  id="profileManagement" width="98%"><tr><th id="npm_api"></th><th id="npm_param"></th></tr>
          <tr><td  class="showfocus" id="npm_cp_api"></td><td id="npm_cp_param"></td></tr>
          <tr><td  class="showfocus" id="npm_dp_api"></td><td id="npm_dp_param"></td></tr>
          <tr><td  class="showfocus" id="npm_ga_api"></td><td id="npm_ga_param">(</td></tr>
          <tr><td  class="showfocus" id="npm_g1_api"></td><td id="npm_g1_param"></td></tr>
        </table>
        <h3 id="bnm"></h3>
        <table id="businessNetworkManagement" width="98%"><tr><th id="bnm_api"></th><th id="bnm_param"></th></tr>
          <tr><td onclick="networkDeploy()" class="showfocus" id="bnm_nd_api"></td><td id="bnm_nd_param"></td></tr>
          <tr><td onclick="networkInstall()" class="showfocus" id="bnm_ni_api"></td><td id="bnm_ni_param"></td></tr>
          <tr><td onclick="networkStart()" id="bnm_ns_api"></td><td id="bnm_ns_param"></td></tr>
          <tr><td onclick="adminList()" class="showfocus" id="bnm_nl_api"></td><td id="bnm_nl_param"></td></tr>
          <tr><td onclick="ping()" class="showfocus" id="bnm_np_api"></td><td id="bnm_np_param"></td></tr>
          <tr><td onclick="networkUndeploy()" class="showfocus" id="bnm_nu_api"></td><td id="bnm_nu_param"></td></tr>
          <tr><td onclick="networkUpdate()" class="showfocus" id="bnm_nuu_api"></td><td id="bnm_nuu_param"></td></tr>
        </table>
        <h3 id="rm"></h3>
        <table id="resourceManagement" width="98%"><tr><th id="rm_api"></th><th id="rm_param"></th></tr>
          <tr><td onclick="listRegistry()" class="showfocus" id="rm_lr_api">y</td><td><select id="registryName" width="25%"></td></tr>
          <tr><td onclick="listAssets()" class="showfocus" id="rm_la_api"></td><td id="rm_la_param"></td></tr>
          <tr><td onclick="addMember()" class="showfocus" id="rm_am_api"></td><td id="rm_am_param"></td></tr>
          <tr><td onclick="issueIdentity()" class="showfocus" id="rm_ii_api"></td><td><select id="registryName2" width="25%"></select></td></tr>
          <tr><td onclick="checkCard()" class="showfocus" id="rm_cc_api"></td><td><select id="registryName3" width="25%"></select></td></tr>
          <tr><td onclick="createCard()" class="showfocus" id="rm_cc2_api"></td><td><select id="registryName4" width="25%"></select></td></tr>
          <tr><td onclick="removeMember()" class="showfocus" id="rm_rm_api"></td><td><select id="registryName5" width="25%"></td></tr>
          <tr><td class="showfocus" id="rm_gs_api"></td><td></td></tr>
          </table>
          <h3 id="bc"></h3>
          <table id="blockchain" width="98%"><tr><th id="bc_api"></th><th id="bc_param"></th></tr>
            <tr><td onclick="getChainInfo()" class="showfocus" id="bc_gi_api"></td><td id="bc_gi_param"></td></tr>
            <tr><td onclick="getChainEvents()" class="showfocus" id="bc_ge_api"></td><td id="bc_ge_param"></td></tr>
            <tr><td onclick="getHistorian()" class="showfocus" id="bc_gh_api"></td><td id="bc_gh_param"></td></tr>
          </table>
    </div>
    <div class="scrollingPaneRight">
      <div class="showfocus" id="admin-forms" ></div>
      <div id="messages"></div> 
    </div>
  </div>
  