
  <h2 id="title"></h2>
  <table id="buyerTable" width="98%"><tr><th id="sel_prompt"><select class= "showfocus" id="buyer" width="25%"></th><th id="company"></th><th id="buyer_notify" class="notify on"><span class="n_count" id="buyer_count">1</span></th></tr>
  </table>
  <div class="twoPage showfocus buyer">
      <div class="showfocus container" id="orderDiv">
    </div>
</div>
<div class="messagePane" id="buyer_messages"></div>  
<div class="bottom-hold-lower"><button class="button-wide showfocus" id="newOrder"></button><button class="button-wide showfocus" id="orderStatus"></button></div>  
