
  <h2 id="title"></h2>
  <table id="sellerTable" width="98%"><tr><th id="s_prompt"><select class= "showfocus" id="seller" width="25%"></th><th id="sellerCompany"></th><th id="seller_notify" class="notify on"><span class="n_count" id="seller_count">1</span></th></tr>
  </tr></table>
<!--  <div class="scrollingHalfPane showfocus seller">
-->
    <div class="twoPage showfocus seller">
      <div class="showfocus container" id="sellerOrderDiv">
    </div>
</div>
<div class="messagePane" id="seller_messages"></div>  
<div class="bottom-hold-lower"><button class="button-wide showfocus" id="seller_clear"></button><button class="button-wide showfocus" id="sellerOrderStatus"></button></div>  
