
<div height='90%'>
    <div height='90%'>
        <table width='100%' >
            <tr width='100%' height='90%'>
                <td width='50%' ><div height='90%' class="showfocus twoPage" id="buyerbody">(buyer view)</div></td>
                <td width='50%' ><div height='90%' class="showfocus twoPage" id="sellerbody">(seller view)</div></td>
            </tr>
        </table>
    </div>
<!--
    <div>
        <table width='100%'>
            <tr width='100%'>
                <td width='50%'><div class="showfocus halfPane2" id="providerbody">(provider view)</div></td>
                <td width='50%'><div class="showfocus halfPane2" id="shipperbody">(shipper view)</div></td>
            </tr>
        </table>
    </div>
-->
<div id="messages"></div>    
</div>
